
---
title: トップページ
description: ページ概要がはいります。
---
{% extends '../../_includes/base.njk' %}

{% block css -%}
    <link rel="stylesheet" href="{{'/css/top.css' | url }}">
{%- endblock %}

{% block main -%}
    <h2>トップページのコンテンツ</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
        Adipisci tempora asperiores earum, <br>
        aspernatur pariatur officia cumque mollitia quos ab sapiente porro nulla cupiditate. <br>
        Animi unde voluptatibus hic aspernatur deleniti minima.</p>
{%- endblock %}

{% block js -%}
    <script src="{{ '/js/top.bundle.js' | url }}"></script>
{%- endblock %}

