
---
title: トップページ
description: ページ概要がはいります。
---
{% extends '../_includes/base.njk' %}

{% block css -%}
    <link rel="stylesheet" href="{{'/css/top.css' | url }}">
{%- endblock %}

{% block main -%}
    <h2>ブログ一覧</h2>
    <ul>
        {%- for post in collections.post -%}
            <li><a href="/blog{{ post.url }}">{{ post.data.date | readableDate }} - {{ post.data.title }}</a></li>
        {%- endfor -%}
    </ul>
{%- endblock %}

{% block js -%}
    <script src="{{ '/js/top.bundle.js' | url }}"></script>
{%- endblock %}

